{% extends 'APPVET/base.html' %}
{% block content %}

    {% if user.is_superuser %}
        <div class=" alert alert-info display-1 text-center"> AGREGAR NUEVO CLIENTES </div>
            <form method = 'post'>
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="AGREGAR CLIENTES" class="btn btn-info">
            </form>
            <br><br>
            <a class="btn btn-danger" href="../clientes"> VOLVER A CLIENTES </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="../addmasc" class="btn btn-secondary float-mid"> AGREGAR MASCOTA</a>

    {% else %}
        <div class=" alert alert-danger display-1 text-center">  USUARIO NO AUTORIZADO PARA CREAR CLIENTES </div>
    {% endif %}
{% endblock content %}